

<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    {{ partial "head/favicons.html" . }}
    {{ partial "head/metadata.html" . }}
    {{ partial "head/seo.html" . }}

  </head>
  <body class="bg-base-100 text-base-content">

    {{ partial "header/site-nav.html" . }}

    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ partial "footer/site-footer.html" . }}

    {{ partial "footer/scripts.html" . }}

  </body>
</html>


