{{ define "main" }}

<section class="relative px-4 pt-8 pb-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-10">
    <div class="px-4 pt-32 md:pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
      <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
        <div class="flex flex-col sm:text-center sm:mb-0">
          <a href="/" class="z-10 mb-6 mx-auto">
            <div class="flex items-center justify-center rounded-full shadow-2xl">
              <div class="avatar">
                <div class="rounded-full w-56 md:w-72 h-56 md:h-72 bg-blue-100 ring ring-blue-700 ring-offset-blue-900 ring-offset-4">
                  <label class="swap swap-rotate text-9xl">
                    <input id="onoff" type="checkbox"/>
                    {{ $smile := resources.GetMatch "images/smile.png" }}
                    {{ $sleep := resources.GetMatch "images/sleep.png" }}
                    <div class="swap-on"><img id="sleep_icon" src="{{$smile.RelPermalink}}"></div>
                    <div class="swap-off"><img id="smart_icon" src="{{$sleep.RelPermalink}}"></div>
                  </label>
                </div>
              </div>
            </div>
          </a>
          <script>
            var now = new Date();
            var hour = now.getHours();
            console.log(hour);
            if (hour >= 22 || hour <= 7) {
              document.getElementById('onoff').checked = true;
            } else {
              document.getElementById('onoff').checked = false;
            }
          </script>
  
          <div class="z-10 text-base-content max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
            <h2 class="font-black max-w-lg mb-3 text-3xl leading-none tracking-tight sm:text-4xl md:mx-auto">
              <span class="relative inline-block">
                <svg viewBox="0 0 52 24" fill="currentColor"
                  class="absolute text-primray top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
                  <defs>
                    <pattern id="700c93bf-0068-4e32-aafe-ef5b6a647708" x="0" y="0" width=".135" height=".30">
                      <circle cx="1" cy="1" r=".7"></circle>
                    </pattern>
                  </defs>
                  <rect fill="url(#700c93bf-0068-4e32-aafe-ef5b6a647708)" width="52" height="24"></rect>
                </svg>
                <span class="relative lg:ml-1 lg:pl-1">{{(i18n "sayHello")}}&nbsp;&nbsp;</span>
              </span>
              {{(i18n "iAm")}} {{.Site.Params.Author}}
              <br class="hidden md:block" />
              a Fullstack
              <span class="relative inline-block px-2 mt-2">
                <div class="absolute inset-0 transform -skew-x-12 bg-blue-700"></div>
                <span class="relative text-primary-content font-mono">Developer</span>
              </span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{{ end }}
